---
layout: homepage
headline: Berita Warga
excerpt: "Berita dan dokumentasi kegiatan warga perumahan alam citra"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<ul class="third">
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus venenatis velit quis posuere. Quisque placerat, sem sed aliquam hendrerit, sapien nisi aliquet leo, et porta augue urna non leo. Integer scelerisque mauris risus, sed luctus magna egestas nec. Praesent ac massa nunc.</li>
</ul>
