---
layout: homepage
headline: Berita Warga
excerpt: "Berita dan dokumentasi kegiatan warga perumahan alam citra"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
<br>
<a href="{{ site.url }}/berita/#pagetitle">Lihat semua berita warga &rarr;</a>

<h2 class="entry-title">Satuan Pengamanan Alam Citra</h2>
<div class="alcit-satpam">
  <a href="{{ site.url }}/images/satpam-alcit.jpg" title="Searah jarum jam dari pojok kiri atas: Bp. Suyatman, Bp. Andriyanto, Bp. Sumaryono, Bp. Wahyudi, Bp. Heru SP, Bp. Kuwatono, Bp. Warsidi, Bp. Marsono">
    <img src="{{ site.url }}/images/satpam-alcit-thumb.jpg">
  </a>
  Searah jarum jam dari pojok kiri atas: Bp. Suyatman, Bp. Andriyanto, Bp. Sumaryono, Bp. Wahyudi, Bp. Heru SP, Bp. Kuwatono, Bp. Warsidi, Bp. Marsono
</div>

<h2 class="entry-title">Denah Alam Citra</h2>
<div class="alcit-plan">
  <a href="{{ site.url }}/images/denah-alam-citra-vektor.jpg">
    <img src="{{ site.url }}/images/denah-alam-citra-vektor-thumb.jpg">
  </a>
</div>

<h2 class="entry-title">Galeri Foto</h2>
<div class="home-gallery">
  <figure class="third">
    {% for i in (1..9) %}
      <a href="{{ site.url }}/galeri-foto/">
        <!-- EDIT BELOW -->
        <img src="{{ site.url }}/images/2018-agustus/kerja-bakti/thumb/{{ i }}.jpg">
        <!-- EDIT ABOVE -->
      </a>
    {% endfor %}
  </figure>
</div>

<!--
<h2 class="entry-title">Daftar Usaha Warga Alam Citra</h2>
<figure class="third">
  <a href="{{ site.url }}/daftar-usaha/#usaha-1"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
  <a href="{{ site.url }}/daftar-usaha/#usaha-2"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
  <a href="{{ site.url }}/daftar-usaha/#usaha-3"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
  <a href="{{ site.url }}/daftar-usaha/#usaha-4"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
  <a href="{{ site.url }}/daftar-usaha/#usaha-5"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
  <a href="{{ site.url }}/daftar-usaha/#usaha-6"><img src="{{ site.url }}/images/dummy-gambar-usaha.jpg"></a>
</figure>
-->
